{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>{% block title %}PLATTY'S GROCERY{% endblock %}</title>
  <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>
  <div id="header">
    <a href="/" class="logo">PLATTY'S GROCERY</a>
  </div>
  <div id="subheader">
    <div class="cart">
      {% with total_items=cart|length %}
        {% if cart|length > 0 %}
          Your cart: 
          <a href="{% url "cart:cart_detail" %}"> {{ total_items }} item{{ total_items|pluralize }}, ${{ cart.get_total_price }}
          </a>
        {% else %}
          You have nothing to purchase.
        {% endif %}
  {% endwith %}
    </div>
  </div>
  <div id="content">
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>